#navigation {
  ul {
    align-content: start;
    align-items: stretch;
    display: flex!important;
    flex-direction: column;
    flex-wrap: wrap;
    height: $height-body;
    .icon {
      @extend %is-icon;
    }
  }
}
