.window {
  border-radius: .6rem!important;
  //overflow: auto;
  padding-top: 1.5rem;
  position: absolute;
  //resize: both;
  width: 30vw;
  //z-index: 9999;
  .title-bar {
    justify-content: space-between;
    display: flex;
    height: 1.5rem;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .status-bar {
    bottom: 0;
    flex-shrink: unset!important;
    height: .5rem!important;
    min-height: .5rem!important;
    padding: 0;
    position: absolute;
    width: 100%;
  }
}
//   background-color: transparentize($color-black, 0.8);
.ui-resizable-handle {
  background-color: black;
  position: absolute;
  &.ui-resizable-s {
    bottom: 0;
    cursor: s-resize;
    height: 3px;
    left: 50%;
    width: 3px;
  }
  &.ui-resizable-se {
    bottom: 0;
    cursor: se-resize;
    height: 3px;
    right: 1%;
    width: 3px;
  }
  &.ui-resizable-sw {
    bottom: 0;
    cursor: sw-resize;
    height: 3px;
    left: 1%;

    width: 3px;
  }
}
//   backdrop-filter: blur(5px);
//   box-shadow: 12px 12px 20px transparentize($color-black, 0.2);
//   &:focus-visible {
//     outline: none;
//   }
//   iframe {
//     width: 100%;
//   }
//   button {
//
//   }
//   .ui-dialog-titlebar {
//     color: $color-black;
//     background-color: transparentize($color-blue, 0.9);
//     display: flex;
//     justify-content: space-between;
//     padding: 0 .4rem;
//     border-radius: 0;
//     backdrop-filter: blur(5px);
//     font-family: 'Pixelated';
//     font-size: 1.2rem;
//     font-variant: all-petite-caps;
//     height: 2rem;
//     line-height: 2rem;
//   }
//
//   .ui-icon-closethick {
//     background: url('/images/icons/close.svg') 50% 50% no-repeat!important;
//     display: inline-block;
//     height: 1rem;
//   }
//   .ui-corner-all {
//     border-top-left-radius: .6rem;
//     border-top-right-radius: .6rem;
//     border-bottom-right-radius: 0;
//     border-bottom-right-radius: 0;
//     border: none;
//   }
//   .ui-button {
//     background-color: transparent;
//     filter: drop-shadow(1px 1px 0 get-color('black', 'base'));
//     cursor: pointer;
//   }
//   .ui-widget-content, .ui-widget.ui-widget-content {
//     border: 0;
//   }
//   iframe {
//     border: 0;
//   }
// };
//
// .ui-widget.ui-widget-content {
//   border: 0;
// }
