.window {
  position: absolute!important;
  width: 30vw;
  iframe {
    height: calc(100% - 1.6rem);
    width: 100%!important;
  }
  .title-bar {
    color: $color-white;
    font-size: $font-size-content-min;
    height: $spacing-large;
  }
  .ui-resizable-handle {
    background-color: transparentize($color-background-page, 0.5);
    border-bottom: black solid 1px;
    bottom: 0;
    height: 5px;
    position: absolute;
    width: 5px;
    z-index: unset!important;
    &.ui-resizable-s {
      cursor: s-resize;
      left: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    &.ui-resizable-se {
      border-right: black solid 1px;
      cursor: se-resize;
      right: 0;
    }
    &.ui-resizable-sw {
      border-left: transparent solid 1px;
      cursor: sw-resize;
      left: 0;
    }
  }
}