<link rel="stylesheet" href="{{ "css/vendors/98.css" | relURL }}">
<!-- 📍 Main SCSS -->
{{ $sassOptions := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $sassMainFile := resources.Get "scss/main.scss" | resources.ToCSS $sassOptions }}
<link href="{{ $sassMainFile.RelPermalink }}" rel="stylesheet" defer/>
<!-- 📍 Base Inline -->
{{ with resources.Get "scss/base/_base.scss" | resources.ExecuteAsTemplate "style.base.scss" . | toCSS | minify }}
<style>
  {{ .Content | safeCSS }}
</style>
{{ end }}
<!-- 📍 Debug -->
{{ with .Site.Params.debug.enabled }}
  <link rel="stylesheet" href="{{ "css/debug.css" | relURL }}">
{{ end }}
