<nav class="w-100 ph4 pv3 bg--black gray-l fixed top-0 mb4 ttl f6 dt-l tc">
  <!-- 📌 Brand -->
  <a href='{{ "/" | absLangURL }}' class="link green dtc-l hover-gray-l w-25-l tc tl-l mb2 mb0-l v-mid">
    {{ .Site.Params.headerUsername }}@{{ .Site.Params.headerHostname }} ~ $
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    {{ range .Site.Menus.header }}
      <a class="link gray-l hover-green f6 f5-l mr3 mr4-l v-mid" href="{{ .URL | absLangURL }}" title="{{ .Name }}">~/{{ .Name }}</a>
    {{ end }}
  </div>
</nav>