{{ if (not .Site.Params.Comments) }}
  {{ .Scratch.Set "enable_comments" false }}
{{ else if .Site.Params.Comments }}
  {{ .Scratch.Set "enable_comments" .Params.comments }}
{{ else if .Site.Params.Comments.Enabled }}
  {{ .Scratch.Set "enable_comments" .Site.Params.Comments.Enabled }}
{{ else }}
  {{ .Scratch.Set "enable_comments" true }}
{{ end }}

{{ $enable_comments := .Scratch.Get "enable_comments" }}
{{ if $enable_comments }}
  {{ if (or (not (.Site.Params.Comments.Engine)) (eq .Site.Params.Comments.Engine "disqus")) }}
    <div class="blog-post-comments">
        <div id="disqus_thread">
          <script type="text/javascript">
          
          (function() {
              // Start Disqus unless we're in localhost
              if (window.location.hostname !== 'localhost') {
                const dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                const disqus_shortname = '{{ if .Site.DisqusShortname }}{{ .Site.DisqusShortname }}{{ else }}{{ .Site.Title }}{{ end }}';
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              }
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="https://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>

  {{ end }}
{{ end }}
