/* @import 'colors.css';
@import 'typography.css';

body {
  background-color: var(--white-light);
  height: 100%;
}

body, .font-header, .font-paragraph, pre code {
  font-family: var(--monospace)!important;
  font-variant-ligatures: additional-ligatures;
}

html {
	height: 100%;
}

img {
  max-width: 100%;
}

.box-100 {
  display: inline-block;
  height: 100px;
  width: 100px;
}

.navbar-inverse .navbar-brand {
  color: var(--green)!important;
}

.navbar-inverse .navbar-brand:hover {
  color: var(--green-light)!important;
}

.nav.navbar-nav li a:hover {
  color: var(--green)!important;
}

.fa-twitter:hover {
  color: var(--cyan);
}

.fa-github:hover {
  color: var(--black-light);
}

.fa-youtube:hover {
  color: var(--red);
}

.fa-spotify:hover {
  color: var(--green);
}

.fa-telegram:hover {
  color: var(--cyan-dark);
}

.fa-envelope:hover {
  color: var(--gray);
}

i.fas, i.fab {
  color: var(--black);
}

.post-link {
  margin-right: 1em;
}

.user-picture {
  border-color: var(--black);
}

.badge.category {
  border-radius: .25rem;
  margin-right: 1em;
}

.badge.tag {
  margin-right: .5em;
}

.container.badges {
  margin-bottom: 1em;
  padding-left: 0;
}

h1 a:hover {
  color: var(--purple-light);
  text-decoration: none;
}

.post-date {
  font-size: 12px;
  font-weight: bold;
}

#title {
	font-variant: petite-caps;
} */