{{ define "main" }}
  <section class="ph4">

    <!-- 📌 Profile Picture -->
    {{ with .Site.Params.profilePicture }}
    <div class="w-100 tc">
      <img src="images/{{ . }}" alt="Profile picture" class="ba bw2 b--black mt4 db center br-100 w-80 mw5">
    </div>
    {{ end }}

    <!-- 📌 Author -->
    <div class="w-100 tc">
      <h1 class="cursive f-5-ns">{{ .Site.Params.author }}</h1>
    </div>

    <!-- 📌 Social Networks -->
    <div class="w-100 tc">
      {{ partial "social.html" . }}
    </div>

    <!-- 📌 Description -->
    {{ with .Site.Params.description }}
      <div class="w-100">
        <p class="ba bw2 b--black pa3 w-50-l center">
          {{ . }}
        </p>
      </div>
    {{ end }}
  </section>
{{ end }}