/**
* ⭐️ This file contains very basic styles that will be applied inline
*/
@import './../abstracts/functions';
@import './../abstracts/placeholders';
@import './../abstracts/variables';

*,
*::before,
*::after {
  @extend %remove-spacing;
  box-sizing: $box-size;
}

html, body {
  @extend %font-base;
  height: $height-content;  
  width: $width-content;
}

body {
  background-color: $color-background-home;
}

main {
  &.page {
    background-image: linear-gradient(to bottom, transparentize($color-white, 0.6), transparentize($color-white, 0.6)), url('/images/clouds.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: auto;
    padding: 1rem;
    width: 100%;
  }
}

body {
  a {
    text-decoration: $text-decoration-link;
  }
}

nav {
  position: absolute;
  ul {
    list-style: none;
  }
}