@import './variables';

@keyframes flicker {
  0%   { opacity:1; }
  10%  { opacity:0.4; }
  20%  { opacity:1; }
}

@keyframes flicker-all {
  0% {opacity:1}
  3% {opacity:.8}
  6% {opacity:1}
  7% {opacity:1}
  8% {opacity:.6}
  9% {opacity:1}
  10% {opacity:1}
  99% {
    opacity:.8;
    text-shadow: none;
  }
  100% {opacity:1}
}