@import './keyframes';
@import './variables';

/**
* 📍 1. Positioning
* Where and how the box is placed
* clear, display, flex,  float, grid, position
*/
%center-box {
  margin: auto;
  width: 70%;
}

/**
* 📍 2. Visibility
* Can the box be seen?
* color variables, opacity, visibility, z-index
*/

/**
* 📍 3. Box Model
* Layers of the box model
* background, border, margin, outline, padding
*/
%has-background {
  background-attachment: fixed;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: $margin-body;
  min-height: $height-body;
  width: $width-body;
}

%remove-spacing {
  margin: 0;
  padding: 0;
}

/**
* 📍 4. Dimensions
* Content dimensions and scrollbars
* height, overflow, width
*/

/**
* 📍 5. Text
* Self explanatory
* color, font, text
*/

%font-base {
  font-family: $font-family-monospace;
  font-size: $font-size-body;
  font-weight: $font-weight-body;
}
